@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #121212;
  padding: 30px;

}

.dashboard-logout {
  padding: 10px;
  font-size: 18px;
  color: white;
  width: 150px;
  margin: 10px;
}

.dashboard-control {
  background-color: #30475E;
}

.dashboard-start {
  padding: 10px;
  font-size: 18px;
  color: white;
  width: 400px;
  margin: 10px;
}

.dashboard div {
  margin-top: 7px;
}
